@import "~@fortawesome/fontawesome-free/css/all.css";

.title{
    
    text-align: center;
   color: white;
}
.btn-secondary{
    /* / width:100%; */
    margin:10px;
     float: right; 
    background-color:white;
    color:black
    
   }