
<app-layout fxLayout="column"></app-layout>
<br>

<button class="btn btn-secondary" [routerLink]="['addexpense']"><i class="fas fa-plus">CreateNewExpense
</i></button>

<div class="container-fluid" style="margin-top:80px">
 
  <div class="table-responsive" *ngIf="expenseList">
    <h2 class="edit">Expenses:</h2>
    <table class="table table-bordered">
      <thead style="background-color:#33847c;color:white">
        <tr>
          <th class="font" style="text-align:center">ExpenseName</th>
          <th class="font" style="text-align:center">Amount(Rs)</th>
          <th class="font" style="text-align:center">createdBy</th>
          <th class="font" style="text-align:center">view</th>
          

        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let expense of expenseList | paginate: { itemsPerPage: count, currentPage: p }" class="hover">
          <td class="font" style="text-align: center">
            {{expense.expenseTitle}}
          </td>
          <td class="font" style="text-align:center;">
            {{expense.expenseAmount}}
          </td>
          <td class="font" style="text-align:center;">
            {{expense.createdBy.firstName}}
          </td>
          <td class="font" style="text-align:center;">
            <i class="fas fa-eye" style="cursor: pointer;" [routerLink]="['expense',expense.expenseId]"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="controller" style="margin-top:20px;float:right">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>

<a [routerLink]="['addexpense']" >create expense</a>

<br>
<br>
<div>
  <ul>
    <li *ngFor="let u of expenselist" [value]="u.expenseid">
      <a [routerLink]="['expense/u.expenseId']" >{{u.expenseTitle}}</a>
    </li>
  </ul>
</div>
