@import "~@fortawesome/fontawesome-free/css/all.css";
.flex-container {
    display: flex;
   justify-content: space-around;

  }
/*   
  .flex-container > div {
    background-color: #f1f1f1;
    /* margin: 10px;
    padding: 20px;
    font-size: 30px; 
  } */
  
.edit {
    width:100%;
    text-align:center;   
}

.back{
    width:100%;
    text-align: center;
}
.deletebutton:hover {
    background-color:rgb(241, 60, 60);
  }
  .delete {
      width:100%;
      text-align:center;
  }
.back1:hover {
    background-color:navy;
}

