<app-layout >

</app-layout>
<br>
<br>
<button class="btn btn-secondary" [routerLink]="['/creategroup']"><i class="fas fa-plus">CreateNewGroup
</i></button>
<!-- <a [routerLink] = "['creategroup']" >CreateNewGroup</a> -->

<div>
    Groups -
  
    1 your groups
    2 see all groups
    3 open group link - get users info and description and name of that group.
  
    User -
    1 open user profile link
    2
  </div>
  
  <div *ngIf=groups>
    Your Groups
  
  <ul>
    <li *ngFor = "let u of groups" >
      <a [routerLink] = "['/viewgroup',u.groupId]">
      {{u.groupName}}
    </a>
    </li>
  </ul>
  
  </div>

  <router-outlet></router-outlet>