<app-layout >

</app-layout>
<br>

<div>
<button class="btn btn-secondary" [routerLink]="['/creategroup']"><i class="fas fa-plus">CreateNewGroup
</i></button>
<div class="card">
  <div class="card-body"  *ngIf="totalAmountLent">
    <h4 class="card-title">Outstanding balances</h4>
    <p class="card-text">TotalAmountLent:{{totalAmountLent}} </p>
    <p class="card-text">TotalAmountSpent:{{totalAmountSpent}}</p>
  </div>
</div>

<div class="container-fluid" style="margin-top:80px">
 
  <div class="table-responsive" *ngIf="groups">
    <h2 class="edit">Groups:</h2>
    <table class="table table-bordered">
      <thead style="background-color:#33847c;color:white">
        <tr>
          <th class="font" style="text-align:center">GroupTitle</th>
          <th class="font" style="text-align:center">CreatedBy</th>
          <th class="font" style="text-align:center">noofUsers</th>
          <th class="font" style="text-align:center">view</th>
          

        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let group of groups | paginate: { itemsPerPage: count, currentPage: p }" class="hover">
          <td class="font" style="text-align: center">
            {{group.groupName}}
          </td>
          <td class="font" style="text-align:center;">
            {{group.createdBy.firstName}}
          </td>
          <td class="font" style="text-align:center;">
            {{group.users.length}}
          </td>
          <td class="font" style="text-align:center;">
            <i class="fas fa-eye" style="cursor: pointer;" [routerLink]="['/viewgroup',group.groupId]"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="controller" style="margin-top:20px;float:right">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>



  <router-outlet></router-outlet>